
  <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
  </head>
  <body>
  <table>
   <tr>
     <td>
       Company Name
     </td>
     <td>
       Team Name
     </td>
   </tr>
 <tr>
     <td>
       Next Education
     </td>
     <td>
       Company is working with BridgeLabz from last 2 years
     </td>
   </tr>
 <tr>
     <td>
       Next Education
     </td>
     <td>
       Company is working with BridgeLabz from last 2 years
     </td>
   </tr>
 <tr>
     <td>
      Craft Villa
     </td>
     <td>
       Company is working with BridgeLabz from last 2 years
     </td>
   </tr>
 <tr>
     <td>
       Finacus INC
     </td>
     <td>
       Company is working with BridgeLabz from last 2 years
     </td>
   </tr>
  </table>
  </body>
  </html>
